body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* def gonna wanna change this, i just forgor how */
/* thats how much i have deteriorated */
/* also commenting as much as i want cuz idk */
.spacer {
  height: 42px;
}

/* parent for the clock and icons */
.time-pack {
  display: grid;
  justify-content: center;

  border-bottom: solid 2px;
  border-radius: 8px;

  /* centers it */
  width: 500px;
  margin: auto;
}

.time-icon {
  place-self: center;
  width: 40px;
  height: 40px;
}

.clock {
  place-self: center;
}

/* they are gonna be side by side and */
/* the temp is gonna be bigger font */
.temp-and-location {
  display: flex;
  justify-content: center;
}

.temp {
  border-right: solid;
  border-width: 2px;
  padding: 5px;
  line-height: 60px;

  font-size: 24px;
  font-weight: 400;
}

.address {
  display: grid;
}

.country {
  border-bottom: solid;
  border-width: 2px;
  padding: 5px;
}

.city {
  padding: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons img {
  height: 16px;
  width: 16px;

  margin-right: 4px;
  margin-bottom: 2px;
}

.change-location {
  border: 1px solid;
  border-radius: 4px;
  padding: 6px;

  display: flex;
  align-items: center;
}
